name: Git Mirroring

on:
  push:
    branches: [main, next]
  delete:
    branches: [main, next]

jobs:
  to_codeberg:
    runs-on: ubuntu-latest
    steps:                                              # <-- must use actions/checkout before mirroring!
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url:
            ssh://git@ssh.hedwing.dev:222/dev-crew/lampo.rs.git
          ssh_private_key:                              # <-- use 'secrets' to pass credential information.
            ${{ secrets.SSH_PRIVATE_KEY }}
